## Question 1

What is the result of the following code?

```python
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), columns=['col1', 'col2', 'col3'])
df.apply(lambda x: x.max() - x.min())
```

A. col1    1.0
    col2    1.0
    col3    1.0
    dtype: float64

B. col1    1.0
    col2    1.0
    col3    1.0
    dtype: float64

C. col1    1.0
    col2    1.0
    col3    1.0
    dtype: float64

D. col1    1.0
    col2    1.0
    col3    1.0
    dtype: float64

In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), columns=['col1', 'col2', 'col3'])
df.apply(lambda x: x.max() - x.min())

col1    2.743614
col2    1.895299
col3    0.952968
dtype: float64

## Question 2

Download a csv file from https://stats.govt.nz/assets/Uploads/Business-employment-data/Business-employment-data-June-2022-quarter/Download-data/business-employment-data-june-2022-quarter-csv.zip and load it into a pandas dataframe. How many rows and columns are there?

In [25]:
import requests
import os

# Load CSV
def download_csv(url):
    r = requests.get(url)
    with open('data.csv', 'wb') as f:
        f.write(r.content)

if not os.path.exists('data.csv'):
    download_csv('https://stats.govt.nz/assets/Uploads/Business-employment-data/Business-employment-data-June-2022-quarter/Download-data/business-employment-data-june-2022-quarter-csv')


df = pd.read_csv('data.csv')
print(f"""
Rows   : {len(df)}
Columns: {len(df.columns)}
""")

Rows   : 20254
Columns: 14

## Question 3

What method can be used to get the number of non-NA values in a pandas dataframe?

A. `df.count()`

B. `df.na_count()`

C. `df.na_values()`

D. `df.na_count()`

A

## Question 4

Create a dataframe with 10 rows and 3 columns, where the values are random numbers between 1 and 10 (inclusive). Then, replace all values greater than 5 with the value 10.

In [37]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,100,size= (10, 3)), columns=list ('ABC'))
df = df.applymap(lambda num: 10 if num > 5 else num)
print(df)

    A   B   C
0  10  10  10
1  10  10  10
2  10  10  10
3  10  10  10
4  10  10  10
5  10  10  10
6  10  10  10
7   5  10  10
8  10  10  10
9  10  10  10

## Question 5

create a dataframe from this link https://jsonplaceholder.typicode.com/albums

In [38]:
# Read JSON data

todos = requests.get("https://jsonplaceholder.typicode.com/albums").json()

df = pd.DataFrame(todos)

print(df.head())

   userId  id                                     title
0       1   1                     quidem molestiae enim
1       1   2          sunt qui excepturi placeat culpa
2       1   3                        omnis laborum odio
3       1   4  non esse culpa molestiae omnis sed optio
4       1   5                         eaque aut omnis a